<!-- About -->
<section id='find-us' class='about'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col'>
        <h2>Map and Directions to Cornerstone Church</h2>
        <p class='lead'>
          We are located 6. 4 miles north of Hwy 380 on FM 2931 in Aubrey, Texas
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3334.6300207671447!2d-96.93795168383691!3d33.30234098081665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c4891eac7481b%3A0xfa2cf12205e4f38f!2sCornerstone+Church+of+Aubrey%2C+TX!5e0!3m2!1sen!2sus!4v1525809804598" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</section>
