<!-- About -->
<section id='events' class='about'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col'>
        <h2>Upcoming Events</h2>
        <IFRAME src="http://www.localendar.com/public/ccaubrey" height=800 width=100% marginheight=0 marginwidth=0 scrolling=no frameborder=0 border=0></IFRAME>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</section>
