<tr style="height: 100%;">
  <td colspan="6" style="height: 100%" align="center" valign="bottom">
    Unless otherwise specified, all information contained herein is copyright 2007-2008, Cornerstone Church, All Rights Reserved</td>
</tr>
