<!-- Footer -->
<footer id='contact-us'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <h4><strong>Cornerstone Church of Aubrey</strong>
        </h4>
        <address>7850 FM 2931 
        <br>Aubrey TX 76227</address>
        <ul class='list-unstyled'>
        
        <li><i class='fas fa-phone'></i> Call us at (972) 742-3308</li>
        <li>Email us at <a href='mailto:pastorfranke@ccaubrey.com'><i class='far fa-envelope'></i> pastorfranke@ccaubrey.com</a></li>
        <li>Please do not send commercial email to these addresses. Thank you.</li>
        <!-- placeholder links for more stuff
        <li><a href='https://www.facebook.com/placeholder/'><i class='fab fa-facebook'></i> placeholder</a></li>
        <li><a href='https://www.instagram.com/placeholder/'><i class='fab fa-instagram'></i> @placeholder/a></li>
        <li><a href='https://www.youtube.com/user/placehold/videos'><i class='fab fa-youtube'></i> placeholder</a></li>
         -->
        </ul>
        <hr class='small'>
        <p class='text-muted'>Copyright &copy; Cornerstone Church of Aubrey</p>
        <p class='text-muted'><a href='https://www.everything-it.biz'>Site design and maintenance by Everything I.T. LLC</a></p>
      </div>
    </div>
  </div>
</footer>
