<!-- Header -->
<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Cornerstone Church of Aubrey</h1>
    <br>
    <a href='#find-us' class='btn btn-dark btn-lg mt-3'>Find Out More</a>
  </div>
</header>
