<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title><%= full_title(current_page.data.title) %></title>

<!-- Custom CSS -->
<link href="stylesheets/FPC.css" rel="stylesheet">
