<tr valign="bottom">
    <td>
        <a href="/findus">
            <img border="0" src="images/btnFind.jpg" alt="Map and Directions" width="150" height="80" />
        </a>
    </td>
    <td>
        <a href="/churchevents">
             <img border="0" alt="Events" src="images/btnEvents.jpg" width="150" height="80" />
        </a>
    </td>
    <td>
       <a href="/contactus">
          <img border="0" alt="Contact Us" src="images/btnContact.jpg" width="150" height="80" />
       </a>
    </td>
    <td>
        <a href="/ministries">
            <img border="0" alt="Staff" src="images/btnStaff.jpg" width="150" height="80" />
        </a>
    </td>
    <td>
        <a href="/onlinebiblestudy">
            <img border="0" alt="Online Bible Study" src="images/btnOnlineStudy.jpg" width="150" height="80" />
        </a>
    </td>
    <td>
        <a href="/aboutus">
            <img border="0" alt="More About Us" src="images/btnAbout.jpg" width="150" height="80" />
        </a>
    </td>
    <td width="100%">
        &nbsp;
    </td>
</tr>
