<!-- About -->
<section id='ministries' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h2>Ministries at Cornerstone Church</h2>
        <h4>Children Ministries</h4>
        <p class='lead'>
          Power Hour:
        </p>
        <p>Each Sunday we set aside special time just for our kids to learn about God on their level! Your children will enjoy expressive songs, EXCITING lessons, and much more led by teachers who have a strong desire to influence children for good and who are enthusiastic about their calling!
          <p class='lead'>
            Signs and Wonders:
          </p>
          <p>This ministry consists of a team of young people ministering through the combination of beautiful melodies and sign language. The team provides a truly amazing example of hearts being lifted up in worship by focusing on songs with a message that touches the soul!</p>
        </p>
        <h4>Adult Ministries</h4>
        <p class="lead">Endtime Bible Study Series:</p>
        <p>
          The Endtime Bible Study series taught by Rev. Irvin Baxter is an exciting and informative look at prophecy in the Word of God and how it is being fulfilled in our times. The study is held each Friday night at 7:30. For more information, call 972-292-3034 or 972-742-3308. More information about endtime ministries can be found at http://www.endtime.com/. 
        </p>
        <h4>New Member/New Convert</h4>
        <p class="lead">Into His Marvelous Light:</p>
        <p>
          This quick one hour tour through the basics of the New Testament doctrine explores scriptures relevant to the new birth, focusing first on the instructions of Jesus in the Gospels, then on the experiences and practices of the early church in the book of Acts, and finally upon the exhortations in the epistles. It is a vital study for anyone who desires Biblical salvation and a foundation of truth. This lesson can be scheduled at your convenience, and can be received either in your home or in the home of one of our members - whatever works best for you! To learn more, call us or click the Online Study tab at the top of this page to review the study content.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
