<!-- Navigation -->
<a id='menu-toggle' href='#' class='btn btn-dark btn-lg toggle'>
  <i class='fa fa-bars'></i>
</a>

<nav id='sidebar-wrapper'>
  <ul class='sidebar-nav'>
    <a id='menu-close' href='#' class='btn btn-light btn-lg pull-right toggle'><i class='fa fa-times'></i></a>
    <li class='sidebar-brand'>
      <a href='#top'  onclick = $('#menu-close').click(); >Cornerstone Church of Aubrey</a>
    </li>
    <li>
      <a href='#top' onclick = $('#menu-close').click(); >Home</a>
    </li>
    <li>
      <a href='#find-us' onclick = $('#menu-close').click(); >Find Us</a>
    </li>
    <li>
      <a href='#events' onclick = $('#menu-close').click(); >Events</a>
    </li>
    <li>
      <a href='#contact-us' onclick = $('#menu-close').click(); >Contact Us</a>
    </li>
    <li>
      <a href='#ministries' onclick = $('#menu-close').click(); >Ministries</a>
    </li>
    <li>
      <a href='#about-us' onclick = $('#menu-close').click(); >About Us</a>
    </li>
  </ul>
</nav>
