<table width="100%" cellpadding="2">
	<tr>
		<td>

			<h1>What is a Pentecostal Church?</h1>

			<h2>A Truly Pentecostal Church:</h2>

			&bull; Stands upon the Bible as the divinely-inspired Word of God and the baseline
			authority for teachings about Him.<br />
			&bull; Proclaims the same message of salvation preached on the Day of Pentecost (the
			birth day of the original church) as recorded in Acts 2:38
			<br />
			&bull; Believes in and encourages expressive worship and liberty in the Holy Ghost.<br />
			&bull; Teaches and practices prayer as the only way to truly know God and receive His
			blessings, whether spiritual, financial or physical.<br />
			&bull; Witnesses deliverance from alcoholism, smoking, and addictions of every kind.<br />
			&bull; Focuses on living the good life through a solid relationship with Jesus Christ
			Himself!
			<br />
			<h2>Pentecostal Worship</h2>
			We're excited that you're interested in visiting with us, and invite you to enjoy God's Presence our services. If you have never had the opportunity to be in a Spirit-filled service, you will discover the oldest worship on earth is a brand new experience for you! Join us as we praise God together in spirit and in truth.<br />
			<h3>We Pray Together Out Loud</h3>
			Because in the Bible we read, "They lifted up their voice to God with one accord..." (Acts 4:24).<br />
			<h3>We Lift Our Hands In Praise</h3>
			Because in the Bible we read, "Lift up your hands in the sanctuary, and bless the LORD" (Psalm 134:2).<br />
			<h3>We Sing With All Our Hearts</h3>
			Because in the Bible we read, "Make a joyful noise unto the LORD, all the earth: make a loud noise, and rejoice, and sing praise" (Psalm 98:4).<br />
			<h3>We Play Musical Instruments</h3>
			Because in the Bible we read, "...and all the house of Israel played before the LORD on all manner of instruments..."(II Samuel 6:5).<br />
			<h3>We Clap and Shout Unto God</h3>
			Because in the Bible we read, "...O clap your hands all ye people; shout unto God with the voice of triumph" (Psalm 47:1).<br />
			<h3>We Dance in the Spirit</h3>
			Because in the Bible we read, "...Praise Him with the timbrel and dance: praise Him with stringed instruments and organs" (Psalm 150:4).<br />
			<h3>We Testify Publicly</h3>
			Because in the Bible we read, "I will declare thy name unto my brethren; in the midst of the congregation will I praise thee" (Psalm 22:22).<br />
			<h3>We Anoint With Oil for Divine Healing</h3>
			Because in the Bible we read, "Is any sick among you? Let him call for the elders of the church; and let them pray over him, anointing him with oil in the name of the LORD" (James 5:14).<br />
			<h3>We Allow the Operation of the Spiritual Gifts</h3>
			Because in the Bible we read, "When ye come together, every one of you hath a psalm, hath a doctrine, hath a tongue, hath a revelation, hath an interpretation..." (I Corinthians 14:26).<br /><br />
			When you come to Cornerstone Church, please make yourself at home, praise the Lord and feel welcome to join us as we glorify God together. We would love to have you worship with us often and always, right here at Cornerstone Church!

		</td>
	</tr>
</table>
