<table width="100%" cellpadding="2">
	<tr>
		<td>

			<h1>Upcoming Events</h1>
			<!--
			Note: You need to paste both of the following lines into your web page. The <ILAYER> line is for Netscape, and the <IFRAME> line is for Internet Explorer.
			This style embedded calendar may not display correctly in other browsers. You can adjust the height and width parameters as desired.
		-->
		<IFRAME src="http://www.localendar.com/public/ccaubrey" height=600 width=700 marginheight=0 marginwidth=0 scrolling=auto frameborder=0 border=0></IFRAME>

	</td>
</tr>
</table>
