<table width="100%" cellpadding="2">
	<tr>
		<td>
			<h1>Cornerstone Church of Aubrey</h1>
			<h2>Address</h2>
			7850 FM 2931<br />
			Aubrey, TX<br />
			<h2>Phone</h2>
			(972) 742-3308<br />
			<h2>Email:</h2>
			&nbsp;Email to pastorfranke@ccaubrey.com<br />
			&nbsp;&nbsp;&nbsp;&bull;&nbsp;Rev. Dan Franke: pastor<br />
			&nbsp;&nbsp;&nbsp;&bull;&nbsp;Laura Franke: secretary<br />
			<br />
			&nbsp;Please do not send commercial email to these addresses.  Thank you.
			<br />
			</td>
	</tr>
</table>
