<table width="100%" cellpadding="2">
	<tr>
		<td>	
			<h1>Map and Directions to Cornerstone Church</h1>
			<table width="100%">
				<tr>
					<td align="center" colspan="2" class="H2WithSpace">
						We are located 6.4 miles North of HWY 380 on FM 2931 in Aubrey,
						Texas.</td>
					</tr>
					<!--
					<tr valign="top">
					<td width="100%">
					<br />
					The Hilton Garden is located at the Bethany Exit off of Hwy. 75 (Central
					Expressway in Allen.<br />
					<h3>From Dallas</h3>
					Take Central Expressway North to Allen and take the Bethany exit.
					At the light, proceed straight and you will see the Hilton on the right
					hand side of the service road about a block past the intersection.
					<h3>From McKinney</h3>
					Take Central Expressway South to Allen and take the Bethany exit.
					As you exit, stay in the far left lane and make a u-turn at the
					underpass.  As you enter the service road, you will see the Hilton on the right
					hand side.
					<h3>From anywhere else...</h3>
					Please call for directions!
					<p class="H2WithSpace">Please join us!</p>
				</td>
				<td><img src="images/FPC.Hilton.Map.jpg" alt="Map" width="300" height="300" /></td>
			-->
		</tr>
	</table>
	<p>
		<a href="http://maps.google.com/maps/ms?mapprev=1&ie=UTF8&msa=0&msid=116125175039047258609.000448dd24f1721c93274&t=h&ll=33.265389,-96.937866&spn=0.100473,0.145912&z=12&source=embed">
			Link to interactive map</a></p>

		</td>
	</tr>
</table>
