<table width="100%" cellpadding="2">
	<tr>
		<td>

			<h1>Ministries at Cornerstone Church</h1>
			<h2>Children Ministries</h2>
			<h3>Power Hour:</h3>
			Each Sunday we set aside special time just for our kids to learn about God
			on their level! Your children will enjoy expressive songs,
			EXCITING lessons, and much more led by teachers who have a strong desire
			to influence children for good and who are enthusiastic about their calling!<br />
			<h3>Signs and Wonders:</h3>
			This ministry consists of a team of young people ministering through the
			combination of beautiful melodies and sign language.  The team provides
			a truly amazing example of hearts being lifted up in worship by
			focusing on songs with a message that touches the soul!<br />
			<h2>Adult Ministries</h2>
			<h3>Endtime Bible Study Series:</h3>
			The Endtime Bible Study series taught by Rev. Irvin Baxter is an exciting and
			informative look at prophecy in the Word of God and how it is being fulfilled
			in our times.  The study is held each Friday night at 7:30. For more information,
			call 972-292-3034 or 972-742-3308.  More information about endtime ministries
			can be found at <a href="http://www.endtime.com/">http://www.endtime.com/</a>.
			<br />
			<br />
			<h2>New Member/New Convert</h2>
			<h3>Into His Marvelous Light:</h3>
			This quick one hour tour through the basics of the New Testament
			doctrine explores scriptures relevant to the new birth, focusing first on
			the instructions of Jesus in the Gospels, then on the experiences and practices of the early
			church in the book of Acts, and finally upon the exhortations in the epistles.
			It is a vital study for anyone who desires Biblical salvation and a foundation
			of truth.  This lesson can be scheduled at your convenience, and can be received
			either in your home or in the home of one of our members - whatever works best
			for you! To learn more, call us
			or click the Online Study tab at the top of this page to review the
			study content.<br />

		</td>
	</tr>
</table>
