<table width="100%" cellpadding="2">
	<tr>
		<td>

			<h1>Into His Marvelous Light</h1>


			When walking out of a dark room into the sunshine, light can be blinding. As our eyes become accustomed to the light, we can see more clearly and enjoy the scenery that surrounds us.<br />
			<br />

			Likewise, when we look into the light of the scriptures, the brightness of truth can sometimes hurt.  However, as our spiritual eyesight becomes adjusted, we can enjoy "walking in the light."
			<br />
			<br />

			This Bible study is designed to allow us to "walk" into the marvelous light of the Word of God.  We will be journeying into the scriptures by imagining we are back in the days of Jesus and the Apostles, listening to them teach and preach the plan of salvation.  In order to do this, we will be careful to "rightly" divide the word of the truth (2 Timothy 2:15) by concentrating on the highlights of the three main divisions of the New Testament in chronological order, including:
			<br />
			<br />



			<h2>THE GOSPELS</h2> &bull;Covering the words and works of Jesus Christ</br>
			<br />
			<h2>THE ACTS OF THE APOSTLES</h2> &bull;Covering the actions and preaching of the Apostles</br>
			<br />
			<h2>THE EPISTLES</h2> &bull;Covering the letters written by the Apostles to the churches they started in the Book of Acts.</br>
			<br />


			We believe the scriptures are divinely inspired and, "of no private interpretation" (2 Peter 1:20-21) .  Therefore, every effort has been made to present the pure Word of God without adding to or taking away from its teachings (Deuteronomy 4:2, Proverbs 30:5-6) .
			<br />
			<br />

			It is not our intention to diminish any personal relationship you may have with our Lord.  Neither do we desire to convince you of our own personal ideas or the creeds of any denomination.  We simply desire to share the truth as it is written.  Only by claiming the Bible as our sole authority can any of us be confident of our salvation, for it is the Word of God and not the traditions of men that will judge us all in the end.<br />
			<br />

			Let us read 2 Timothy 3:15-16 as we begin our journey into the Word of God...
			<br />
			<br />

			<h3>John 1:1-5 & 14</h3>
			In the beginning, the Word was God and became flesh.  Jesus Christ is the Living Word of God .
			<br />
			<br />

			<h3>John 1:11-13</h3>
			If we believe in Him and receive Him, Jesus gives us power to become the sons of God by a supernatural birth.  He spoke further about this new birth one night to a ruler of the Jews . . .
			<br />
			<br />

			<h3>John 3:1-8</h3>
			The Lord told Nicodemus that everyone who wanted to see or enter into the Kingdom of God must be born again of water and of the Spirit.
			<br />
			<br />

			<h3>John 3:16-21</h3>

			Jesus also told Nicodemus that whosoever believeth in Him should have eternal life.  Jesus mentioned two seemingly different requirements for salvation.  One is being born again.  The other is believing.  Yet, this is not a contradiction.  The next scripture explains how believing is related to experiencing the birth of the Spirit . . .
			<br />
			<br />

			<h3>John 7:38-39</h3>
			Here, we discover that if we believe on Him (according to the Word), we will receive the Spirit.  We find that scriptural belief is more than just a change in the way we think.  It also results in a scriptural experience.
			<br />
			<br />

			<h3>John 12:35-36 & 42-43</h3>

			Today, just as in Jesus' day, many believe on Him.  But, they will not confess Him for fear of what others will do or say.
			<br />
			<br />

			<h3>John 12:44</h3>
			In response to their fearfulness, Jesus warns that His Spirit will judge us, so we must be careful not to reject it. Rather, we should believe and obey it . . . no matter what others say . . .
			<br />
			<br />

			<h3>John 17:17-20 </h3>

			In Jesus' prayer for his disciples, just before His crucifixion, He said God's Word is truth. He also prayed for us--and for all those who would believe on Him through the Apostles' word.

			To find out what the Apostles' word was to be, let us read what Jesus told them to proclaim.  The setting of the following great commission scripture in Luke 24:45-49 is just after the Lord's death, burial and resurrection . . . and just before His ascension into heaven.<br />
			<br />

			"Then opened he their understanding, that they might understand the scriptures, And said unto them, Thus it is written, and thus it behooved Christ to suffer, and to rise from the dead the third day:  And that repentance and remission of sins should be preached in His name among all nations, beginning in Jerusalem.  And ye are witnesses of these things.  And, behold, I send the promise of my Father upon you: but tarry ye in the city of Jerusalem, until ye be endued with power from on high."<br />
			<br />

			<h2>DID THE APOSTLES PREACH THE MESSAGE JESUS </h2>

			<h2>COMMANDED THEM TO PROCLAIM? </h2>
			<br />

			<h2>HOW WAS THE PROMISE OF THE FATHER FULFILLED?</h2>
			<br />

			Let us continue our journey into the Word of God by seeing what was preached and what happened at Jerusalem . . .<br />
			<br />

			<h3>Acts 1:3-5</h3>

			As we enter the Book of Acts, we discover almost immediately that the promise of the Father is the baptism of the Holy Ghost.<br />
			<br />

			<h3>Acts 2:1-17</h3>
			When the Apostles were at Jerusalem, they, along with many others, were joyously filled with the Holy Ghost and began to speak with other tongues as the Spirit gave the utterance (ability to speak).  The amazed onlookers from many nations who heard them speaking with tongues asked, "What meaneth this?" Then Peter explained the promised coming of the Spirit and went on to preach Christ and the original apostolic plan of salvation.
			<br />
			<br />

			<h3>>Acts 2:36-38</h3>
			When the people who heard Peter's words believed that Jesus Christ was their Lord and Savior, they were sorry for their sins and asked Peter and the Apostles what they should do.  Peter replied by preaching the message Jesus commanded to be preached in Luke 24:45-49 .  In light of this, consider the three elements of the Plan of Salvation that Peter preached in verse 38:<br />
			<br />

			<h2>1. REPENTANCE</h2>
			<h2>2. REMISSION OF SINS THROUGH BAPTISM IN JESUS' NAME</h2>
			<h2>3. RECEIVING THE GIFT OF THE HOLY GHOST</h2>
			<br />

			<h3>NOTICE:</h3>  Acts 2:38 is the fulfillment of the birth requirements Jesus mentioned in John 3:5 that were necessary to enter the Kingdom of God.<br />
			<br />

			&bull;Water birth baptism in the name of Jesus Christ!
			<br />
			&bull;Infilling of the Holy Ghost!
			<br />
			<br />

			Now, let's look at some more examples of people being born again of water and the Spirit as the Word Jesus gave His apostles continued to be preached throughout the Book of Acts . . .

			Phillip preaching to the Samaritans in Acts 8

			NOTICE: Some people say when they experienced joy; or when they believed in Jesus, or when they were baptized, they were automatically filled with the Holy Ghost.  But what does the Word say?
			<br />
			<br />

			<h3>Acts 8:5-8</h3>

			Did they have great joy?
			<br />
			<br />
			<h3>Acts 8:12</h3>
			Were they baptized in His name?<br />
			Did they believe in Jesus Christ?
			<br />
			<br />
			<h3>Acts 8:14-17</h3>

			Did they receive the Holy Ghost as a separate and distinct experience?
			<br />
			<br />

			Peter preaching to the Gentiles in Acts 10
			<br />

			<h3>NOTICE:</h3>  Some people say being religious is enough, or that the Spirit-baptism evidenced by tongues was only for the day of Pentecost.  If the Bible says this is true, then it is true.  But the Word shows us through Cornelius' experience that this is not true . . . then it is not . . . .
			<br />
			<br />

			<h3>Acts 10:1-2 </h3>
			Was Cornelius a religious man?
			<br />
			<br />
			<h3>Acts 10:5-6</h3>
			Did God have more for him to do?
			<br />
			<br />
			<h3>Acts 10:44-46 </h3>
			Did they receive the Holy Ghost and speak in tongues after the day of Pentecost?<br />
			<br />
			<h3>Acts 10:47-48 </h3>
			Did they still have to be baptized in Jesus' name?
			<br />
			<br />

			Paul preaching to John's disciples in Acts 19
			<br />

			<h3>NOTICE:</h3>  Many people who are believers have not even heard about the Holy Ghost that is promised to them.  Also, some people say it is not necessary to be baptized or re-baptize (if you were baptized by John the Baptist, would you think it would be necessary to be re-baptized using a different baptismal formula?).  Others say it does not matter what is spoken when you are baptized.  If the Bible indicates it does not matter, then it does not matter . . . but, what if the Bible shows us it DOES matter?
			<br />
			<br />

			<h3>Acts 19:1-2</h3>

			They were believers, but had they heard of or received the Holy Ghost?
			<br />
			<br />
			<h3>Acts 19:3-5</h3>

			Did those baptized by John the Baptist have to be re-baptized in Jesus' name?<br />
			<br />
			<h3>Acts 19:6</h3>
			Was receiving the Holy Ghost accompanied by the initial evidence of speaking in other tongues?
			<br />
			<br />
			We have found that the Apostles preached the following message:
			. . . the life of Christ and His death, burial and resurrection
			. . . repentance toward God and belief in Jesus Christ baptism in water by immersion in Jesus' name
			. . . receiving the gift of the Holy Ghost (which was accompanied by the initial evidence of speaking with other tongues)
			<br />
			<br />

			Now, let us read what the Apostles had to say about the message of salvation they proclaimed in the Book of Acts. We can do this by reading the epistles (letters) they wrote to their converts.


			Supplemental Study Scriptures
			<br />
			<br />

			As we read the Epistles, we will notice how strongly the Apostles felt about the gospel (good news) of salvation.
			This is not because they were being judgmental; it is because they knew the word Jesus had
			given them to proclaim was going to judge all men.

			What did Peter say?<br />
			<br />

			"Ye have purified your souls in obeying the truth . . . being born again . . . by the word of God . . . and this is the word which by the gospel is preached unto you." (I Peter 1:22-25)
			<br />
			<br />

			<h2>Peter asked a question:</h2>
			" . . . What shall the end be of them that obey not the gospel of God?" (I Peter 4:17-18)
			<br />
			<br />

			<h3>(1) Matthew 7:13-24</h3>
			<br />

			NOTE:  God's warning regarding false prophets and the importance of being a doer and not just a hearer of the Word.<br />
			<br />

			<h3>(2) Matthew 16:15-19</h3>
			<br />

			NOTE:  Peter was given the "keys of the kingdom" because of his revelation of who Jesus Christ was.
			<br />
			<br />

			<h2>Paul Gave the answer:</h2>
			<br />

			"The Lord Jesus shall be revealed from heaven with his mighty angels, In flaming fire taking vengeance on them that know not God, and that obey not the Gospel of our Lord Jesus Christ: Who shall be punished with everlasting destruction from the presence of the Lord, and from the glory of his power." (2 Thessalonians 1:7-9)
			<br />
			<br />
			<h2>What did Paul say?</h2>
			<br />

			"I marvel that ye are so soon removed from him that called you into grace of Christ unto another gospel: Which is not another, but there be some that trouble you, and would pervert the gospel of Christ. But though we, or an angel from heaven, preach any other gospel unto you than that which we have preached unto you, let him be accursed. As we said before, so say I now again, If any man preach any other . . ."
			<br />
			<br />

			<h3>(3)Other "Great Commission" scriptures:</h3>

			<br />

			NOTE:  In Matthew 28:18-20 the word "name" is singular in this command to baptize. The Apostles obeyed this command when they baptized only in the name of Jesus, and did not use the titles mentioned here. (see Acts 4:12 )
			Mark 16:15-18 . The importance of water baptism and the signs following believers.
			<br />
			<br />

			<h3>(4) Matthew 16:15-19</h3>
			<br />

			NOTE:  Peter, who was given the "keys of the kingdom," uses them to open the "kingdom door" by preaching the original apostolic message of salvation for the first time.
			<br />
			<br />

			<h3>(5) Acts 8:35-39</h3>
			<br />

			NOTE:  Philip must have mentioned baptism when he preached Jesus to the Eunuch, because the Eunuch asked to be baptized in water. The Greek root word for baptize is "bapto," which literally means to cover wholly with fluid, to dip (see also Romans 6:3-4 ).
			<br />
			<br />

			<h3>(6) Acts 10:34-43</h3>
			<br />

			NOTE:  Peter preached the life and lordship of Jesus Christ as well as His death, burial and resurrection.<br />
			<br />

			<h3>(7) I Peter 3:20-21 </h3>
			<br />

			NOTE:  According to Peter, baptism is an essential part of the plan of salvation.
			<br />
			<br />




			<h2>We encourage you to read through the Gospels . . . in detail . . .</h2>
			<h2>and continue to walk "into His marvelous light"!</h2>


		</td>
	</tr>
</table>
